.REB-vars {
  --reb-border-color: #e5e5e5;
  --reb-header-height: 48px;
  --reb-icon-dragged-bg-color: #eee;

  font-size: 14px;
}

@import './components/EmailBuilder/index.less';
@import './components/Sidebar/index.less';
@import './components/Icon/index.less';
@import './components/BlockIcons/index.less';
