.REB-Popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  border: 1px solid var(--reb-control-border-color);
  box-shadow:
    rgb(212, 212, 212) 0px 10px 15px -3px,
    rgb(212, 212, 212) 0px 4px 6px -4px;
}
